
<%- include('Partials/header'); -%>
<h1>Home</h1>

<p><%= Intro%></p>


<%globalPosts.forEach(function(post){  %>
  <h1><%= post.title %></h1>
  <p><%= post.post.substr(0 , 100) + "..." %></p>
  <a href = "/posts/<%= post._id%>">read more</a>

<% }) %>


<%- include('Partials/footer'); -%>
